[user]
	email = lukasnoller@gmail.com
	name = Lukas
[credential]
	helper = store
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor= "nvim"
